@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
gris_mas_claro = #F0F0F0

a
	text-decoration none

body
	font-size 16px
	font-family 'Varela Round', sans-serif
img
	vertical-align top
figure
	margin 0
ul
	margin 0
	padding 0

.author
	color gris_claro
.action
	color white
	font-size 1.2em
	margin-right 0.5em
	&:last-child
		margin-right 0
	&.gray
		color gris_claro
.actions
	background rgba(black,.3)
	bottom 0
	left 0
	right 0
	position absolute
.button-menu
	color gris_oscuro
	left .5em
	margin-top -10px
	position absolute
	top 50%
.container
	font-size 0
	padding 1.4rem
	text-align center
.description
	.name
		color gris_oscuro
		font-size 1.3em
		margin-bottom 0
	.author
		margin-top 0
.header
	height 3.5em
	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em
.input 
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
.name
	color gris_claro

.menu
	display none

.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		background gris_claro
		border-radius 5px
		height 5px
		margin 0 auto
		width 75%
	.state
		background rojo
		border-radius 5px
		height 5px
		position relative
		width 30%
	.circle
		background gris_oscuro
		//border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px
.search-icon
	color gris_claro
	left .5em
	position absolute
	top .8em
.close-icon
	color gris_claro
	font-size 1.2em
	position absolute
	right .5em
	top .5em
.song
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-bottom 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0
.playing
	&.small
		width 20em

/*clases utilitarias*/
.border-bottom
	border-bottom 1px solid gris_claro

.center-block
	margin 0 auto
.center-text
	text-align center
.left
	float left
.padding
	padding 1em
.padding-tb
	padding 1em 0
.right
	float right
.right-text
	text-align right
.relative
	position relative
.round
	border-radius 50%
	overflow hidden
.wrap
	width 1000px
/*fin de clases utilitarias*/


		
@media screen and (min-width: 480px)
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto
@media screen and (min-width: 1000px)
	body
		background gris_mas_claro
	.button-menu
		display none
	.header
		height auto
		.title
			display none	
	.isotipo
		width 122px
	.logo
		background white
		overflow hidden
		padding 1.3em 0
	.avatar
		width 38px
		height 38px
	.menu
		display block
		background gris_mas_claro
		overflow hidden
		.item
			float left
			list-style none
			a
				border-top 5px solid transparent
				color gris_oscuro
				cursor pointer
				display block
				padding 1em
				text-transform uppercase
				&:hover
					border-top 5px solid gris_claro
	.username
		color gris_claro
		position absolute
		top 2em
		margin-left .5em
		&:after
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 7px solid gris_claro
			content ""
			display inline-block
			margin-left .4em