@import "nib"
@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
gris_mas_claro = #F0F0F0
/*generales*/
body
	font-size 16px
	margin 0 auto
	text-align center
figure
	margin 0
span
	color white
h2
	color gris_oscuro
	font-weight normal
img
	vertical-align top
p
	color gris_claro
	font-size 1.2em
/*welcome*/
.cover
	background-image url('../img/background.png')
	background-repeat no-repeat
	background-size 100% 100%
	padding-bottom 4em
	& p
		color white
	& .title
		font-size 1.4em
		pading 0
		margin 0 2em 2em 2em
	.cover-logo
		padding 6em 0 2em 0
.btn
	display block
	color white
	text-decoration none
	padding 1em
	margin 0.5em 3.5em
	border-radius 3px
	text-align left
.twitter
	background #55ACEE
.facebook
	background #3D5A98
.icon-fc
.icon-tw
	margin-right .5em
	font-size 1.5em
	padding .2em .5em .3em 0
.icon-fc
	border-right 2px solid #273586
.icon-tw
	border-right 2px solid #0099CC
.login
	margin 1em 0 4em
	padding-top 0.5em
	& .login-link
		color gris_claro
		//font-size 1.5em
		padding-left 1em
	& :first-child
		border-right 1px solid gris_claro
		padding  1em 2em
/*----------------------*/
/*FOOTER*/
footer
	background #333333
	width 100%
	height auto
	overflow hidden
	& a
		display inline-block
		color white
		margin 1em
.footer-logo
	text-decoration none
	font-size 1.5em
	margin 0.5em 0.5em 0.5em 1em
.footer-link
	display inline
	float right
/*----------------------*/
.start
	color gris_claro
	border-top 1px solid gris_claro
	margin 1em 0.5em
	padding-top 0.5em
.image
	img
		width 100%
		height auto
.relative
	position relative
.right
	float right
.left
	float left

/*MEDIA QUERIES*/
@media screen and (min-width: 480px)
	.cover
		& .logo
			width 395px
			height auto
		& .title
			font-size 1.8em
		& .btn
			margin 0.5em 6em
	footer
		& .footer-link
			float left
@media screen and (min-width: 1000px)
	.wrap
		margin 0 10em
/*-----------------------*/
